@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
    background-color: var(--seed-backgroundColor);
}
header{
    font-family: 'Anton', sans-serif;
    height: 75px;
    border: 1px solid var(--seed-main-color);
    color: var(--seed-main-color);
    position: fixed;
    width: 100%;
    top: 0; left: 0;
    border-left: none;
}
.menu_wrapper{
    margin: 0 auto;
    width: 1170px;
}
.btn_toc{
    position:absolute;
    left: 20px;
    top: 22px;
    border: none;
    background-color: transparent;
}

h1{
    color: var(--seed-main-color);
    position:absolute;
    left: 80px;
    margin-right: 10px;
}
.menu{
    position:absolute;
    left: 250px;
    margin-right: 10px;
    width: 500px;
}
.menu li{
    padding: 0 15px;
    display: block;
    float: left;
    padding-left: 50px;
}
.menu a{
    color: var(--seed-main-color);
    font-size: 28px;
    text-decoration: none;
}
#user_name{
    position:absolute;
    right: 80px;
    margin-top: 24px;
}
#user_img{
    position:absolute;
    right: 20px;
    top:18px;
    border-radius: 50px;
}
@media(max-width: 900px){
    .user{
        display: none;
    }
}
:root{
    --seed-main-color: #E5E5E5;
    --seed-backgroundColor: #000000;
}